/* page elements */

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: table;
	background-color: #ACE;
}

progress {
	-webkit-appearance: none;
	width: 300px;
	height: 20px;
	border: #333 1px solid;
	border-radius: 5px;
}

#gameWrap {
	width: 100%;
	height: 100%;
}

#uiWrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#tries {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.tryIcon {
	border: 0;
	margin-bottom: 10px;
}

#score {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-family: roboto, calibri, sans-serif;
	font-size: 30px;
	line-height: 1.5em;
}

#popupWrap {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%
}

#popup {
	width: 400px;
	padding: 20px;
	text-align: center;
	background-color: #FFF;
	border: 5px solid #000;
	border-radius: 15px;
	transition: opacity 0.2s linear;
}

.popupTitle {
	font-family: sans-serif;
	font-size: 30px;
}

.popupText {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

@media all and (max-width: 600px) {
	progress {
		width: 200px;
	}

	#tries {
		margin-top: 5px;
		margin-left: 5px;
	}

	.tryIcon {
		width: 40px;
		height: 40px;
	}

	#score {
		margin-top: 5px;
		margin-right: 5px;
		font-size: 20px;
	}

	#popup {
		width: 240px;
		padding: 16px;
	}

	.popupTitle {
		font-size: 24px;
	}

	.popupText {
		font-size: 14px;
	}
}