body{
	background-color: #000;
}
.webgl {
	height:100vh;
	width:100vw;
}
.click {
	position:absolute;
	top:1%;
	width:auto;
	height:20px;
	border:1px solid red;
	cursor:pointer;
	color:black;
	background-color:white;
}