@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-size: 1.1vw;
}

.debug {  
  position: absolute;
  top:500px;
  z-index:100;
}

.content {
  position: absolute;
  top:600px;
  left:0px;
  z-index:100;
}

.canvasContainer {
  position: absolute;
  top:0px;
  left:0px;
}

#maincanvas {
  position: absolute;
  top:0px;
  left:0px;
}

.container{
  position: relative;
  top:850px;
  left:50px;
  width:250px;
  height:250px;
  z-index:120;
  background-color: red;
}

.layer {
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
}

.layer1 {
  z-index: 4;
  cursor: move;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
}

.layer1 p {
  color: #000;
  text-align: center;
  -webkit-user-select: none;
  font: 14px/100px "TrebuchetMS", trebuchet, sans-serif;
}

.layer2 {
  z-index: 3;
  width: 150px;
  height: 150px;
  background: #193441;
}

label {
	margin-left: 20px;
}

#field {
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	z-index:200;
	bottom: 10px;
	opacity: .5;
	pointer-events: none;
}

#ball {
	position: absolute;
	width:15px;
	height:15px;
	border: solid 1px black;
	border-radius:50%;
	background-color: white;
	z-index:200;
}

#result{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:230px;
	height:230px;
	background-color: gray;
	color: #fff;
	top:100px;
	left:1200px;
	z-index:200;
}

.playerA {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:15px;
	height:15px;
	border: solid 2px white;
	border-radius:50%;
	background-color: red;
	color: #fff;
	z-index:200;
	cursor: hand;
}

.playerB{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:15px;
	height:15px;
	border: solid 2px white;
	border-radius:50%;
	background-color: blue;
	color: #fff;
	z-index:200;
	cursor: hand;
	
}

/* Scoreboard */

.scoreboard {
  position: absolute;
  top: 10px;
  left: 120px;
  text-align: left;
  color: #f0f0f0;
  display: flex;
  margin:0;
  padding:0;
  z-index: 100;
}

.scoreboard__teams {
  display: flex;
  margin: 0;
  padding:0;
}

.scoreboard__time {
  margin: 0;
  display: flex;
  line-height: 30px;
  height: 30px;
  background: linear-gradient(to top left, #00000a, #00004b);
  border: 2px solid #00000a;
}

.scoreboard__period {
  padding: 0 0.6vw;
}

.scoreboard__clock {
  padding: 0 0.6vw;
}

.team {
  line-height: 25px;
}

.team__info {
  display: flex;
  background: linear-gradient(#00004b, #00000a);
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: 2px solid #00000a;
  border-right: none;
}


.team__name {
  width: 1.6em;
  padding: 0 0.6vw;
  vertical-align: baseline;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.team__score {
  padding: 0 0.6vw;
  color:#444444;
  background-image: repeating-linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(233, 233, 233) 56.9%,rgb(204, 204, 204) 71.1%,rgb(255, 255, 255) 100%);
}

.team:nth-child(1) .team__logo {
  background: linear-gradient(#f0f0f0, #00004b);
}

.team:nth-child(2) .team__logo {
  background: linear-gradient(#f0f0f0, #cc0000);
}

.control {
  position:absolute;
  line-height:250px;
  z-index: 200;
}