body {
	padding: 0;
	margin: 0;
	background-color: #BBB;
	-ms-touch-action: none ;
      touch-action: none ;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#containerA,
#containerB {
	-ms-touch-action : none ;
	  touch-action : none ;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	position: absolute;
}

#containerA {
	left: 100px;
	top: 100px;
}

#containerB {
	left: 400px;
	top: 400px;
}

.joystick-stick {
	position: absolute;
	top: calc( 50% - 32px );
	left: calc( 50% - 32px );
	height: 64px;
	width: 64px;
	border-radius: 100%;
	background: rgba( 210, 210, 210, 0.50 );
	transition: background 0.3s;
	will-change: transform;
	touch-action: none;
	cursor: pointer;
};

#joystick1,
#joystick2{
  bottom: 90px;
}

#joystick1{ left: 50px; }
#joystick2{ right: 50px; }

.virtualInput-joystick{
  -ms-touch-action: none ;
      touch-action: none ;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.virtualInput-joystick-svg{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events:none;
  opacity: .5;
}

.virtualInput-joystick-arrowUp,
.virtualInput-joystick-arrowRight,
.virtualInput-joystick-arrowDown,
.virtualInput-joystick-arrowLeft{
  fill: #ccc;
}

.virtualInput-joystick-circle{
  fill: none;
  stroke: #ccc;
}			
